@import url('boilerplate.css');

@import url('fonts.css');
/* ===========================================
   Main styles for Emeril's Restaurants
   Author: Terrance Pitre
   =========================================== */
#widths {
  background-color: white;
  width: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
/* CSS Imports
---------------------------------------------- */
/* @group LESS
---------------------------------------------- */
.box-shadow-1 {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.box-shadow-2 {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.box-shadow-3 {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.box-shadow-6 {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.trans {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.center-content {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}
.no-indent {
  margin: 0;
  padding: 0;
}
.no-indent li {
  list-style: none;
}
.hdr-reset {
  font-family: "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
}
.alt-hover {
  text-decoration: underline;
  color: #660000;
}
/* @end LESS */
/* @group Base Styles
---------------------------------------------- */
body {
  font: normal 100% "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3e4549;
  background: #f5f6ed url(../../img/bg-body.gif) repeat top left;
  padding: 0;
  margin: 0;
}
a,
a:visited {
  color: #006699;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover,
a:focus,
a:active {
  color: #0081c2;
  text-decoration: none;
  outline: 0;
}
h1,
h2,
h3 {
  font-family: "proxima-nova-extra-condensed-1", "proxima-nova-extra-condensed-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: -1px;
}
h1 {
  font-size: 2.5em;
  /* 40 / 16 */

}
h2 {
  font-size: 1.875em;
  /* 30 / 16 */

}
h3 {
  font-size: 1.375em;
  /* 22 / 16 */

  letter-spacing: 0;
}
input {
  font-size: .7em;
  font-style: italic;
  color: #ccc;
  border: none;
  padding: 6px 10px;
  outline: none;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input:focus {
  font-style: normal;
  color: #3e4549;
}
button {
  text-transform: uppercase;
  color: #fff;
  border: none;
  font-size: .65em;
  font-weight: bold;
  padding: 6px 12px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  background: #ab0101;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FiMDEwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3OTAyMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ab0101 0%, #790202 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ab0101), color-stop(100%, #790202));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ab0101 0%, #790202 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ab0101 0%, #790202 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ab0101 0%, #790202 100%);
  /* IE10+ */

  background: linear-gradient(top, #ab0101 0%, #790202 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ab0101', endColorstr='#790202', GradientType=0);
  /* IE6-8 */

  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
button.alt {
  background: none;
  background-color: #FFFFDA;
  color: #3e4549;
}
a.see-more {
  font-size: .7em;
  text-transform: uppercase;
  color: #990000;
  font-weight: 600;
}
a.see-more:after {
  content: '›';
  font-size: 1.4em;
  padding-left: 2px;
}
a.see-more:hover {
  text-decoration: underline;
  color: #660000;
}
.amp {
  font-family: "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-style: italic;
  vertical-align: text-top;
  font-size: 200%;
  font-weight: normal;
}
/* @end */
/* @group Main Styles 
---------------------------------------------- */
/* @group Top Navigation
--------------------------------------------- */
#main-nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  text-align: center;
  background: transparent url(../../img/bg-global-nav.jpg) repeat-x top left;
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main-nav .mainnavul {
  z-index: 10;
  position: relative;
}
#main-nav li {
  margin: 0;
  padding: 0 16px;
  font: 16px/33px Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  display: inline;
  position: relative;
}
#main-nav li a:link,
#main-nav li a:visited {
  background-image: url(../../img/pointer.png);
  background-position: center 40px;
  background-repeat: no-repeat;
  padding: 8px 0;
  color: #FFF;
}
#main-nav li a:hover,
#main-nav li a.active,
#main-nav li a.active-hover {
  background-position: center 20px;
  color: #F0EBD6;
}
#main-nav .dropdown {
  background-color: #fff;
  padding: 2px 8px 3px;
  position: absolute;
  top: 27px;
  left: 12px;
  visibility: hidden;
  opacity: 0;
  border: 1px solid #ccc;
  border-top: 0;
  z-index: 100;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#main-nav li.dropit:hover .dropdown {
  opacity: 1;
  visibility: visible;
}
#main-nav .dropdown ul {
  margin: 4px 0 5px;
  padding: 0;
}
#main-nav .dropdown h2 {
  border-bottom: #999 1px solid;
  font-size: 1.4em;
  text-align: left;
  margin: 2px;
}
#main-nav .dropdown li {
  padding: 0;
  margin: 0;
  display: block;
  list-style-type: disc;
  color: #006699;
}
#main-nav .dropdown li a {
  padding: 3px 5px;
  color: #600;
  display: block;
  background-image: none;
  font: 0.75em "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  text-transform: none;
}
#main-nav .dropdown li a:hover,
#main-nav .dropdown li a:active {
  color: #428649;
  background-color: #f5f6ed;
}
#main-nav .rest-nav {
  width: 220px;
}
#main-nav .blog-nav {
  width: 140px;
}
#main-nav .tv-nav {
  width: 130px;
}
#main-nav .em-nav {
  width: 186px;
}
#main-nav .news-nav {
  width: 210px;
}
#main-nav .shop-nav {
  left: -110px;
  width: 200px;
}
/* @end Top Navigation*/
/* @group Main Content
--------------------------------------------- */
.rest #main-container {
  background: #f3ece4 url('../../img/img1.jpg') no-repeat center 30px;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main-content {
  margin-top: 0;
}
#main-content #city-filter {
  float: right;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 60px;
  width: 63.01886%;
  /* (700 - (16 * 2)) / 1060 */
  padding: 10px 16px;
  font-weight: 600;
  font-size: 1.2em;
  overflow: hidden;
}
#main-content #city-filter span {
  color: #990000;
  float: left;
  margin-right: 2%;
}
#main-content #city-filter ul {
  margin: 0;
  padding: 0;
}
#main-content #city-filter ul li {
  list-style: none;
}
#main-content #city-filter ul li {
  float: left;
  border-right: 1px solid #ccc;
  white-space: nowrap;
}
#main-content #city-filter ul li.last {
  border-right: none;
}
#main-content #city-filter ul li a {
  display: block;
  padding: 0 8%;
  white-space: nowrap;
}
#main-content #city-filter ul li.first a {
  padding-left: 0;
}
#main-content #city-filter ul li.last a {
  padding-right: 0;
}
#main-content .toggle-gallery {
  position: absolute;
  right: -60px;
  top: -68px;
  height: 44px;
  width: 53px;
  z-index: 1;
  background: transparent url(../../img/tog-sprite.png) no-repeat center top;
}
#main-content .toggle-gallery.down {
  background-position: center bottom;
}
#main-content .rest-cities {
  clear: both;
  margin-bottom: 16px;
  padding-bottom: 4px;
  overflow: hidden;
}
#main-content .rest-cities h1 {
  border-bottom: 1px dotted #a6a6a6;
  padding-bottom: 0;
  margin: 0 0 20px;
}
#main-content .rest-cities ul {
  margin: 0;
  padding: 0;
}
#main-content .rest-cities ul li {
  list-style: none;
}
#main-content .rest-cities ul li {
  background-color: white;
  float: left;
  width: 32.07547%;
  /* 340 / 1060 */

  margin-bottom: 36px;
  margin-right: 1.79245%;
  /* 19 / 1060 */

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#main-content .rest-cities ul li:nth-child(3n+3) {
  margin-right: 0;
}
#main-content .rest-cities ul li:hover {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
#main-content .rest-cities ul li a {
  display: block;
  margin: 12px;
}
#main-content .rest-cities ul li img {
  margin-bottom: 12px;
}
#main-content .rest-cities ul li h2 {
  margin: 0;
}
.home #main-content,
.rest-menu .main-content-inner {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 60px;
}
#sub-head {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 32px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#sub-head .sub-head-inner {
  position: relative;
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}
#sub-head .sub-head-inner .er-logo {
  margin: 9px 0 8px;
  display: none;
}
#sub-head .sub-head-inner .er-logo img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#sub-head .sub-head-inner #sub-nav ul {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  width: 608px;
}
#sub-head .sub-head-inner #sub-nav ul li {
  list-style: none;
}
#sub-head .sub-head-inner #sub-nav ul li {
  float: left;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  font-family: "proxima-nova-extra-condensed-1", "proxima-nova-extra-condensed-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}
#sub-head .sub-head-inner #sub-nav ul li.first {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
#sub-head .sub-head-inner #sub-nav ul li a {
  display: block;
  text-align: center;
  padding: 18px 18px 16px;
  color: #fff;
}
#sub-head .sub-head-inner #sub-nav ul li a:hover {
  color: #006699;
  background-color: #fff;
}
#sub-head .sub-head-inner .photo-nav {
  position: absolute;
  right: 0;
  bottom: -56px;
  width: 90px;
  margin-bottom: 14px;
}
#sub-head .sub-head-inner .photo-nav a {
  background: url(../../img/icon-sprite.png) no-repeat center -126px transparent;
  text-indent: -9999px;
  display: block;
  height: 30px;
  width: 30px;
  opacity: .7;
}
#sub-head .sub-head-inner .photo-nav a.prev {
  float: left;
}
#sub-head .sub-head-inner .photo-nav a.next {
  float: right;
  background-position: 0 -160px;
}
#sub-head .sub-head-inner .photo-nav a.pause {
  float: left;
  background-position: 0 -194px;
}
#sub-head .sub-head-inner .photo-nav a.pause.play {
  background-position: 0 -226px;
}
#sub-head .sub-head-inner .photo-nav a:hover {
  opacity: 1;
}
#sub-head.active {
  background-color: rgba(96, 62, 55, 0.88);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#sub-head.active .er-logo img {
  max-width: 60%;
}
#sub-head.active #sub-nav ul li a {
  padding: 11px 18px 5px;
}
#sub-head.active .photo-nav {
  display: none;
}
#main-content #col1 {
  float: left;
  width: 74.5283%;
  /* 790 / 1060 */

}
.rest #main-content {
  padding-top: 151px;
}
.rest #main-content .rest-welcome {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}
.rest #main-content .rest-welcome .rest-welcome-inner {
  background-color: rgba(255, 255, 255, 0.75);
  width: 34.90566%;
  /* 370 / 1060 */

  padding: 26px 3.48837% 16px;
  /* (30 / 370) / 2 */

  float: right;
  clear: right;
}
.rest #main-content .rest-welcome .rest-welcome-inner h1 {
  margin: 0 0 16px;
}
.rest #main-content .rest-welcome .rest-welcome-inner h2 {
  font-size: 1.4em;
  margin: 4px 0 8px;
  font-family: "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.rest #main-content .rest-welcome .rest-welcome-inner .rest-intro p {
  margin: 6px 0 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  line-height: 1.43;
}
.rest #main-content .rest-welcome .rest-welcome-inner .rest-special {
  border-top: 1px dotted #a6a6a6;
}
.rest #main-content .rest-welcome .rest-welcome-inner .rest-special h3 {
  font-family: "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin-bottom: 4px;
  font-family: "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 600;
}
.rest #main-content .rest-welcome .rest-welcome-inner .rest-special p {
  margin: 8px 0;
}
.rest #main-content .rest-main {
  clear: both;
  padding: 24px 0;
  margin-top: 46px;
  border-top: 1px solid #fff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  background: #f5f6ed url(../../img/bg-body.gif) repeat top left;
}
.rest #main-content .rest-main ul {
  margin: 0;
  padding: 0;
}
.rest #main-content .rest-main ul li {
  list-style: none;
}
.rest #main-content .rest-main .rest-main-inner {
  position: relative;
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}
.rest #main-content .rest-main .rest-main-inner .block {
  border-top: 2px solid #2d8a33;
  float: left;
  margin-right: 1.98113%;
  /* 21 / 1060 */

}
.rest #main-content .rest-main .rest-main-inner .block h2 {
  margin: 14px 0 20px;
}
.rest #main-content .rest-main .rest-main-inner .whats-happening {
  width: 40.56603% /* 430 / 1060 */;
  float: left;
}
.rest #main-content .rest-main .rest-main-inner .whats-happening ul li {
  overflow: hidden;
  border-bottom: 1px dotted #a6a6a6;
  border-bottom-color: #cfcfcf;
  padding-bottom: 10px;
  margin-bottom: 24px;
}
.rest #main-content .rest-main .rest-main-inner .whats-happening ul li .feat-img {
  display: block;
  float: left;
  margin-right: 16px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.rest #main-content .rest-main .rest-main-inner .whats-happening ul li .push-feat-img {
  margin-left: 29.30232%;
  /* 126 / 430 */

}
.rest #main-content .rest-main .rest-main-inner .whats-happening ul li h3 {
  margin: 0 0 6px;
  font-size: 1.2em;
  font-family: "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 600;
}
.rest #main-content .rest-main .rest-main-inner .whats-happening ul li p {
  margin: 0 0 10px;
}
.rest #main-content .follow-us {
  margin-bottom: 36px;
}
.rest #main-content .follow-us .avatar {
  overflow: hidden;
  margin-bottom: 10px;
  display: block;
}
.rest #main-content .follow-us .avatar img {
  float: left;
  margin-right: 8px;
}
.rest #main-content .follow-us .avatar h3 {
  margin: 0;
}
.rest #main-content .follow-us ul li {
  border-bottom: 1px dotted #a6a6a6;
  border-bottom-color: #cfcfcf;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 80%;
}
.rest #main-content .follow-us ul li .tweet-meta {
  font-size: 80%;
  display: block;
  text-align: right;
}
.rest #main-content .follow-us ul li .tweet-meta a {
  color: #990000;
}
.rest #main-content .follow-us ul li .tweet-meta a:hover {
  text-decoration: underline;
  color: #660000;
}
.rest #main-content .follow-us .twitter-logo {
  float: right;
}
.rest #main-content #sidebar {
  float: right;
  clear: right;
  width: 23.5849%;
  /* 250 / 1060 */

}
.rest #main-content #sidebar h1 {
  margin-top: 0;
}
.rest #main-content #sidebar .block {
  margin-right: 0;
}
.rest #main-content #sidebar .reserve {
  margin-bottom: 36px;
  width: 100%;
}
.rest #main-content #sidebar .reserve h2 {
  margin-bottom: 16px;
}
.rest #main-content #sidebar .reserve .reserve-form {
  font-size: 90%;
  overflow: hidden;
}
.rest #main-content #sidebar .reserve .reserve-form label {
  text-transform: uppercase;
  font-size: .8em;
  display: block;
}
.rest #main-content #sidebar .reserve .reserve-form select {
  width: 100%;
  margin-top: 2px;
}
.rest #main-content #sidebar .reserve .reserve-form span {
  display: block;
  float: left;
  overflow: hidden;
  margin-bottom: 12px;
}
.rest #main-content #sidebar .reserve .reserve-form .reserve-rest {
  width: 100%;
  margin-bottom: 12px;
}
.rest #main-content #sidebar .reserve .reserve-form .reserve-date {
  width: 42.4%;
  /* 106 / 250 */

  margin-right: 3.6%;
  /* 9 / 250 */

}
.rest #main-content #sidebar .reserve .reserve-form .reserve-date input {
  width: 86%;
  background: #ffffff url(../../img/icon-sprite.png) no-repeat 98% -97px;
}
.rest #main-content #sidebar .reserve .reserve-form .reserve-time {
  width: 32%;
  /* 80 / 250 */

}
.rest #main-content #sidebar .reserve .reserve-form .reserve-size {
  float: right;
}
.rest #main-content #sidebar .reserve .reserve-form button {
  font-size: .74em;
  float: right;
}
.rest #main-content #sidebar .promo a {
  display: block;
  text-align: center;
}
.rest-home #main-content .follow-us {
  width: 32.07547%;
  /* 340 / 1060 */
  margin-bottom: 0;
}
.rest-home #main-content .follow-us ul li {
  font-size: 100%;
}
.rest-home #main-content #sidebar {
  clear: none;
}
/* @group Menu Styles
--------------------------------------------- */
.rest-menu #main-content {
  padding-top: 110px;
}
.rest-menu #main-content ul.menus {
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.rest-menu #main-content ul.menus li {
  list-style: none;
}
.rest-menu #main-content ul.menus li {
  background-color: white;
  float: left;
  width: 31.64556%;
  /* 250 / 790 */

  margin-bottom: 10px;
  margin-right: 2.53164%;
  /* 20 / 790 */

  opacity: .5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.rest-menu #main-content ul.menus li:nth-child(3n+3) {
  margin-right: 0;
}
.rest-menu #main-content ul.menus li:hover,
.rest-menu #main-content ul.menus li.menu-block-lunch {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  opacity: 1;
}
.rest-menu #main-content ul.menus li a {
  display: block;
  margin: 12px;
}
.rest-menu #main-content ul.menus li img {
  margin-bottom: 12px;
}
.rest-menu #main-content ul.menus li h2 {
  margin: 0;
}
.rest-menu #main-content .menu {
  background-color: rgba(255, 255, 255, 0.6);
}
.rest-menu #main-content .menu .menu-inner {
  padding: 12px;
}
.rest-menu #main-content .menu .menu-inner h1 {
  float: left;
  margin: 0;
}
.rest-menu #main-content .menu .menu-inner .get-pdf {
  float: right;
  font-weight: bold;
  display: inline-block;
  margin-top: 6px;
  padding: 10px 35px 10px 0;
  background: transparent url(../../img/icon-sprite.png) no-repeat right -254px;
}
.rest-menu #main-content .menu .menu-inner .menu-items {
  border-top: 1px dotted #a6a6a6;
  clear: both;
  padding-top: 24px;
  overflow: hidden;
}
.rest-menu #main-content .menu .menu-inner .menu-items h2 {
  margin: 0 0 16px;
  font-size: 1.2em;
  clear: both;
  color: #990000;
  font-family: "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 600;
}
.rest-menu #main-content .menu .menu-inner .menu-items .course {
  overflow: hidden;
  margin-bottom: 36px;
  border-bottom: 1px dotted #a6a6a6;
  border-bottom-color: #cfcfcf;
}
.rest-menu #main-content .menu .menu-inner .menu-items .course li {
  float: left;
  min-height: 140px;
  width: 31.37254%;
  /* 240 / 765 */

  margin-right: 20px;
  /* 12 / 765 */

}
.rest-menu #main-content .menu .menu-inner .menu-items .course li:nth-child(3n+3) {
  margin-right: 0;
}
.rest-menu #main-content .menu .menu-inner .menu-items .course li strong {
  display: block;
  margin-bottom: 4px;
}
.rest-menu #main-content .menu .menu-inner .menu-items .course li p {
  margin: 0;
}
/* @end Menu Styles */
/* @end Main Content */
/* @group Footer Styles
--------------------------------------------- */
#main-footer {
  overflow: hidden;
  color: white;
  clear: both;
  background: #660000 url(../../img/bg-brick.gif) repeat;
  border-top: 1px solid #fff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#main-footer .main-footer-inner,
#main-footer .footer-btm-inner {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}
#main-footer .main-footer-inner {
  margin-top: 20px;
  margin-bottom: 28px;
  overflow: hidden;
}
#main-footer h3 {
  margin: 0 0 6px;
}
#main-footer a,
#main-footer a:visited {
  color: #ffffff;
}
#main-footer a:hover {
  text-decoration: underline;
}
#main-footer .social {
  width: 74.5283%;
  /* 740 / 1060 */

  margin-bottom: 20px;
  float: left;
}
#main-footer .social ul {
  font-size: 90%;
  margin: 0;
  padding: 0;
}
#main-footer .social ul li {
  list-style: none;
}
#main-footer .social ul li {
  float: left;
  margin: 0 6px 8px 0;
}
#main-footer .social ul li a {
  padding: 1px 3px;
  background-color: rgba(255, 255, 255, 0.2);
}
#main-footer .social ul li a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
#main-footer .social .twitter-all {
  float: left;
  width: 33.78378%;
  /* 250 / 740 */

}
#main-footer .social .twitter-all li {
  float: none;
}
#main-footer .social .fb-all {
  float: left;
  width: 64.86486%;
  /* 480 / 740 */
}
#main-footer .block {
  width: 23.5849%;
  /* 250 / 1060 */

  float: left;
}
#main-footer .address address {
  line-height: 1.4;
}
#main-footer .hours span {
  display: block;
}
#main-footer .hours span.lunch-hours {
  margin-bottom: 8px;
}
#main-footer .friends ul {
  margin: 0;
  padding: 0;
}
#main-footer .friends ul li {
  list-style: none;
}
#main-footer .friends ul li {
  padding: 4px 0 4px 36px;
  margin-bottom: 4px;
  background: transparent url(../../img/icon-sprite.png) no-repeat left top;
}
#main-footer .friends ul li.facebook {
  background-position: -3px -3px;
}
#main-footer .friends ul li.twitter {
  background-position: -3px -36px;
}
#main-footer .friends ul li.foursquare {
  background-position: -3px -68px;
}
#main-footer .signup {
  float: right;
}
#main-footer .signup input {
  width: 73.6%;
}
#main-footer .signup button {
  width: 14%;
  padding-left: 0;
  padding-right: 0;
}
#main-footer .footer-btm {
  clear: both;
  font-size: 70%;
  overflow: hidden;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}
#main-footer .footer-btm .footer-btm-inner {
  padding: 10px 0;
}
#main-footer .footer-btm .legal {
  float: left;
}
#main-footer .footer-btm .dotcom-logo {
  float: right;
}
/* @end Footer Styles */
/* @end Main Styles */
/* @group Media Queries
--------------------------------------------- */
@media only all and (max-width: 1024px) {
  
}
/* @end */