@import url('boilerplate.css');

@import url('fonts.css');
/* ===========================================
   Main styles for Emeril's Restaurants
   Author: Terrance Pitre
   Version: 0.1
   URL: http://southleft.com
   
   LEGEND:
   1. LESS VARS AND DECLARATIONS
   2. BASE
   3. MAIN
   	3A. TOP NAVIGATION
   	3B. CONTENT
   		3B-1. MENU PAGES
   	3C. FOOTER
   5. MEDIA QUERIES
   =========================================== */
#widths {
  background-color: white;
  width: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
/* CSS IMPORTS
---------------------------------------------- */
/* @group 1. LESS VARS AND DECLARATIONS
---------------------------------------------- */
.box-shadow-1 {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.box-shadow-2 {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.box-shadow-3 {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.box-shadow-6 {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.trans {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.center-content {
  width: 96%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 2%;
}
.no-indent {
  margin: 0;
  padding: 0;
}
.no-indent li {
  list-style: none;
}
.hdr-reset {
  font-family: "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
}
.alt-hover {
  text-decoration: underline;
  color: #660000;
}
.font-size-300 {
  font-size: 0.875em;
  /* 14px / 16px */

  line-height: 1.4375em;
  /* 23px / 16px */

}
/* @end 1. LESS VARS AND DECLARATIONS */
/* @group 2. BASE
---------------------------------------------- */
body {
  font: normal 100%/1.4 "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3e4549;
  background: #f5f6ed url(../../img/bg-body.gif) repeat top left;
  padding: 0;
  margin: 0;
}
a, a:visited {
  color: #006699;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover, a:focus, a:active {
  color: #0081c2;
  text-decoration: none;
  outline: 0;
}
h1, h2, h3 {
  font-family: "proxima-nova-extra-condensed-1", "proxima-nova-extra-condensed-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: -1px;
}
h1 {
  font-size: 2.5em;
  /* 40 / 16 */

}
h2 {
  font-size: 1.875em;
  /* 30 / 16 */

}
h3 {
  font-size: 1.375em;
  /* 22 / 16 */

  letter-spacing: 0;
}
p {
  font-size: 0.875em;
  /* 14px / 16px */

  line-height: 1.4375em;
  /* 23px / 16px */

}
input {
  font-size: .7em;
  font-style: italic;
  color: #ccc;
  border: none;
  padding: 6px 10px;
  outline: none;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input:focus {
  font-style: normal;
  color: #3e4549;
}
button {
  text-transform: uppercase;
  color: #fff;
  border: none;
  font-size: .65em;
  font-weight: bold;
  padding: 6px 12px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  background: #ab0101;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FiMDEwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3OTAyMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ab0101 0%, #790202 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ab0101), color-stop(100%, #790202));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ab0101 0%, #790202 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ab0101 0%, #790202 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ab0101 0%, #790202 100%);
  /* IE10+ */

  background: linear-gradient(top, #ab0101 0%, #790202 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ab0101', endColorstr='#790202', GradientType=0);
  /* IE6-8 */

  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
button.alt {
  background: none;
  background-color: #FFFFDA;
  color: #3e4549;
}
a.see-more {
  font-size: .7em;
  text-transform: uppercase;
  color: #990000;
  font-weight: 600;
}
a.see-more:after {
  content: '›';
  font-size: 1.4em;
  padding-left: 2px;
}
a.see-more:hover {
  text-decoration: underline;
  color: #660000;
}
.amp {
  font-family: "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-style: italic;
  vertical-align: text-top;
  font-size: 200%;
  font-weight: normal;
}
/* @end 2. BASE */
/* @group 3. MAIN
---------------------------------------------- */
/* @group 3A. TOP NAVIGATION
--------------------------------------------- */
#main-nav {
  width: 100%;
  border-bottom: 1px solid #fff;
  background-color: #600;
  position: relative;
  margin-top: -194px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#main-nav ul {
  padding: 4px 0;
  list-style: none;
}
#main-nav .mainnavul {
  z-index: 10;
  position: relative;
  overflow: hidden;
}
#main-nav li {
  margin: 0;
  text-transform: uppercase;
  position: relative;
}
#main-nav li a:link, #main-nav li a:visited {
  color: #FFF;
  display: block;
  padding: 3px 16px 2px;
}
#main-nav li a:hover, #main-nav li a.active {
  color: #600;
  background-color: #FFF;
}
#main-nav .dropdown {
  display: none;
}
#main-nav span.tab {
  display: block;
  height: 30px;
  width: 30px;
  background: transparent url(../../img/icon-sprite.png) no-repeat center -289px;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: -15px;
  z-index: 50;
}
/* @end 3A. TOP NAVIGATION */
/* @group 3B. CONTENT
--------------------------------------------- */
#main-container {
  background-color: #F3ECE4;
  margin-bottom: -30px;
}
#main-content {
  margin-top: 0;
}
#main-content .er-logo {
  display: block;
  margin: 10px auto;
  text-align: center;
}
#city-filter {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 16px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 1em;
  overflow: hidden;
}
#city-filter span {
  color: #990000;
  display: block;
}
#city-filter ul {
  margin: 0;
  padding: 0;
  display: none;
  margin-top: 6px;
}
#city-filter ul li {
  list-style: none;
}
#city-filter ul li {
  white-space: nowrap;
}
#city-filter ul li a {
  display: block;
  padding: .5%;
  white-space: nowrap;
}
#city-filter.city-open ul {
  display: block;
}
.toggle-gallery {
  position: absolute;
  right: 2%;
  top: -68px;
  height: 44px;
  width: 53px;
  z-index: 1;
  background: transparent url(../../img/tog-sprite.png) no-repeat center top;
}
.toggle-gallery.down {
  background-position: center bottom;
}
section.rest-cities {
  clear: both;
  margin-bottom: 16px;
  padding-bottom: 4px;
  overflow: hidden;
}
section.rest-cities h1 {
  border-bottom: 1px dotted #a6a6a6;
  padding-bottom: 0;
  margin: 0 0 20px;
}
section.rest-cities ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
section.rest-cities ul li {
  list-style: none;
}
section.rest-cities ul li {
  background-color: white;
  margin: 0 auto 36px;
  overflow: hidden;
  display: block;
  width: 98%;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
section.rest-cities ul li:hover {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
section.rest-cities ul li a {
  display: block;
  margin: 12px;
}
section.rest-cities ul li img {
  margin: 0 auto 12px;
  display: block;
  width: 100%;
}
section.rest-cities ul li h2 {
  margin: 0;
}
.home #main-content, .rest-menu .main-content-inner {
  width: 96%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 2%;
  margin-top: 20px;
}
#sub-head {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  margin-top: 14px;
  clear: both;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#sub-head .sub-head-inner {
  position: relative;
  width: 96%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 2%;
  width: 100%;
  padding: 0;
}
#sub-head .sub-head-inner .er-logo {
  margin: 9px 0 8px;
  display: none;
}
#sub-head .sub-head-inner .er-logo img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#sub-nav ul {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}
#sub-nav ul li {
  list-style: none;
}
#sub-nav ul li {
  font-family: "proxima-nova-extra-condensed-1", "proxima-nova-extra-condensed-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  float: left;
  width: 33.2%;
}
#sub-nav ul li.menu-home, #sub-nav ul li.menu-menu, #sub-nav ul li.menu-photos {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
#sub-nav ul li.menu-menu,
#sub-nav ul li.menu-photos,
#sub-nav ul li.menu-contact,
#sub-nav ul li.menu-private {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
#sub-nav ul li.menu-our-team {
  clear: left;
}
#sub-nav ul li.menu-photos, #sub-nav ul li.menu-contact {
  width: 33.3%;
}
#sub-nav ul li a {
  display: block;
  text-align: center;
  padding: 6px 0 4px;
  width: 100%;
}
#sub-nav ul li a:hover {
  color: #006699;
  background-color: #fff;
}
nav.photo-nav {
  position: absolute;
  right: 4px;
  bottom: -56px;
  width: 90px;
  display: none;
  margin-bottom: 14px;
}
nav.photo-nav a {
  background: url(../../img/icon-sprite.png) no-repeat center -126px transparent;
  text-indent: -9999px;
  display: block;
  height: 30px;
  width: 30px;
  opacity: .7;
}
nav.photo-nav a.prev {
  float: left;
}
nav.photo-nav a.next {
  float: right;
  background-position: 0 -160px;
}
nav.photo-nav a.pause {
  float: left;
  background-position: 0 -194px;
}
nav.photo-nav a.pause.play {
  background-position: 0 -226px;
}
nav.photo-nav a:hover {
  opacity: 1;
}
#main-content #col1 {
  float: left;
  width: 74.5283%;
  /* 790 / 1060 */

}
.rest #main-content {
  padding-top: 7px;
}
div.rest-welcome {
  width: 96%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 2%;
}
div.rest-welcome div.rest-welcome-inner {
  background: url(../../img/shadow-btm.png) repeat-x left bottom rgba(255, 255, 255, 0.75);
  padding: 12px 3.48837% 16px;
  /* (30 / 370) / 2 */

  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
div.rest-welcome div.rest-welcome-inner .rest-main-img {
  margin-bottom: 16px;
  width: 100%;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
div.rest-welcome div.rest-welcome-inner h1 {
  margin: 0 0 16px;
  text-align: center;
}
div.rest-welcome div.rest-welcome-inner h2 {
  font-size: 1.2em;
  margin: 4px 0 8px;
  font-family: "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
div.rest-welcome div.rest-welcome-inner .block {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #a6a6a6;
}
div.rest-welcome div.rest-welcome-inner .address, div.rest-welcome div.rest-welcome-inner .hours {
  padding-top: 6px;
  border-top: 4px solid #069;
  border-bottom: none;
}
div.rest-welcome div.rest-welcome-inner .hours {
  border-bottom: 1px dotted #a6a6a6;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
div.rest-welcome div.rest-welcome-inner div.rest-intro {
  clear: both;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
div.rest-welcome div.rest-welcome-inner div.rest-intro p {
  margin: 6px 0 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  line-height: 1.43;
}
div.rest-welcome div.rest-welcome-inner div.rest-special {
  margin: 20px 0 0;
  border-bottom: none;
}
div.rest-welcome div.rest-welcome-inner div.rest-special h3 {
  font-family: "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 4px;
  font-family: "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 600;
}
div.rest-welcome div.rest-welcome-inner div.rest-special p {
  margin: 8px 0;
}
section.rest-main {
  clear: both;
  padding: 24px 0;
  border-top: 1px solid #fff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  background: #f5f6ed url(../../img/bg-body.gif) repeat top left;
}
section.rest-main ul {
  margin: 0;
  padding: 0;
}
section.rest-main ul li {
  list-style: none;
}
div.rest-main-inner {
  position: relative;
  width: 96%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 2%;
}
div.rest-main-inner .block {
  border-top: 2px solid #2d8a33;
  overflow: hidden;
  margin-bottom: 26px;
}
div.rest-main-inner .block h2 {
  margin: 14px 0 20px;
}
div.whats-happening ul li {
  overflow: hidden;
  border-bottom: 1px dotted #a6a6a6;
  border-bottom-color: #cfcfcf;
  padding-bottom: 10px;
  margin-bottom: 24px;
}
div.whats-happening ul li a.feat-img {
  display: block;
  float: left;
  margin-right: 16px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
div.whats-happening ul li div.push-feat-img {
  /*margin-left: 34.05405%;*/
  /* 126 / 370 */

}
div.whats-happening ul li h3 {
  margin: 0 0 6px;
  font-size: 1.2em;
  font-family: "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 600;
}
div.whats-happening ul li p {
  margin: 0 0 10px;
}
div.follow-us a.avatar {
  overflow: hidden;
  margin-bottom: 10px;
  display: block;
}
div.follow-us a.avatar img {
  float: left;
  margin-right: 8px;
}
div.follow-us a.avatar h3 {
  margin: 0;
  line-height: 1;
}
div.follow-us ul li {
  border-bottom: 1px dotted #a6a6a6;
  border-bottom-color: #cfcfcf;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
div.follow-us ul li span.tweet-meta {
  display: block;
  text-align: right;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 75%;
}
div.follow-us ul li span.tweet-meta a {
  color: #990000;
}
div.follow-us ul li span.tweet-meta a:hover {
  text-decoration: underline;
  color: #660000;
}
div.follow-us a.twitter-logo {
  float: right;
}
div.reserve {
  margin-bottom: 36px;
  width: 100%;
}
div.reserve h2 {
  margin-bottom: 16px;
}
div.reserve form.reserve-form {
  font-size: 90%;
  width: 100%;
}
div.reserve form.reserve-form label {
  text-transform: uppercase;
  font-size: .8em;
  display: block;
}
div.reserve form.reserve-form select {
  width: 100%;
  margin-top: 2px;
}
div.reserve form.reserve-form span {
  display: block;
  float: left;
  margin-bottom: 12px;
}
div.reserve form.reserve-form span.reserve-rest {
  width: 100%;
  margin-bottom: 12px;
}
div.reserve form.reserve-form span.reserve-date {
  width: 44%;
  margin-right: 10px;
}
div.reserve form.reserve-form span.reserve-date input {
  width: 86%;
  background: #ffffff url(../../img/icon-sprite.png) no-repeat right -96px;
}
div.reserve form.reserve-form span.reserve-time {
  width: 33%;
}
div.reserve form.reserve-form span.reserve-size {
  float: right;
}
div.reserve form.reserve-form button {
  font-size: .74em;
  float: right;
  clear: both;
}
div.promo a {
  display: block;
  text-align: center;
}
.block {
  margin-bottom: 30px;
  font-size: 110%;
}
.block h3 {
  margin: 0 0 6px;
}
div.address address {
  line-height: 1.4;
}
div.hours span {
  display: block;
}
div.hours span.lunch-hours {
  margin-bottom: 8px;
}
div.friends ul {
  margin: 0;
  padding: 0;
}
div.friends ul li {
  list-style: none;
}
div.friends ul li {
  padding: 4px 0 4px 36px;
  margin-bottom: 0;
  background: transparent url(../../img/icon-sprite.png) no-repeat left top;
}
div.friends ul li.facebook {
  background-position: -3px -1px;
}
div.friends ul li.twitter {
  background-position: -3px -34px;
}
div.friends ul li.foursquare {
  background-position: -3px -66px;
}
div.friends ul li.pinterest {
  background-position: -3px -324px;
}
div.signup input {
  width: 73.6%;
}
div.signup button {
  width: 14%;
  padding-left: 0;
  padding-right: 0;
}
#sidebar h1 {
  margin-top: 0;
}
#sidebar .block {
  margin-right: 0;
}
/* @group 3B-1. MENU PAGES
--------------------------------------------- */
.rest-menu #main-content {
  padding-top: 136px;
}
.rest-menu #main-content ul.menus {
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.rest-menu #main-content ul.menus li {
  list-style: none;
}
.rest-menu #main-content ul.menus li {
  background-color: white;
  float: left;
  width: 31.64556%;
  /* 250 / 790 */

  margin-bottom: 10px;
  margin-right: 2.53164%;
  /* 20 / 790 */

  opacity: .5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.rest-menu #main-content ul.menus li:nth-child(3n+3) {
  margin-right: 0;
}
.rest-menu #main-content ul.menus li:hover, .rest-menu #main-content ul.menus li.menu-block-lunch {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  opacity: 1;
}
.rest-menu #main-content ul.menus li a {
  display: block;
  margin: 12px;
}
.rest-menu #main-content ul.menus li img {
  margin-bottom: 12px;
}
.rest-menu #main-content ul.menus li h2 {
  margin: 0;
}
.rest-menu #main-content .menu {
  background-color: rgba(255, 255, 255, 0.6);
}
.rest-menu #main-content .menu .menu-inner {
  padding: 12px;
}
.rest-menu #main-content .menu .menu-inner h1 {
  float: left;
  margin: 0;
}
.rest-menu #main-content .menu .menu-inner .get-pdf {
  float: right;
  font-weight: bold;
  display: inline-block;
  margin-top: 6px;
  padding: 10px 35px 10px 0;
  background: transparent url(../../img/icon-sprite.png) no-repeat right -254px;
}
.rest-menu #main-content .menu .menu-inner .menu-items {
  border-top: 1px dotted #a6a6a6;
  clear: both;
  padding-top: 24px;
  overflow: hidden;
}
.rest-menu #main-content .menu .menu-inner .menu-items h2 {
  margin: 0 0 16px;
  font-size: 1.2em;
  clear: both;
  color: #990000;
  font-family: "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 600;
}
.rest-menu #main-content .menu .menu-inner .menu-items .course {
  overflow: hidden;
  margin-bottom: 36px;
  border-bottom: 1px dotted #a6a6a6;
  border-bottom-color: #cfcfcf;
}
.rest-menu #main-content .menu .menu-inner .menu-items .course li {
  float: left;
  min-height: 140px;
  width: 31.37254%;
  /* 240 / 765 */

  margin-right: 20px;
  /* 12 / 765 */

}
.rest-menu #main-content .menu .menu-inner .menu-items .course li:nth-child(3n+3) {
  margin-right: 0;
}
.rest-menu #main-content .menu .menu-inner .menu-items .course li strong {
  display: block;
  margin-bottom: 4px;
}
.rest-menu #main-content .menu .menu-inner .menu-items .course li p {
  margin: 0;
}
/* @end 3B-1. MENU PAGES */
/* @end 3B. CONTENT */
/* @group 3C. FOOTER
--------------------------------------------- */
#main-footer {
  overflow: hidden;
  color: white;
  clear: both;
  background: #660000 url(../../img/bg-brick.gif) repeat;
  border-top: 1px solid #fff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#main-footer .main-footer-inner, #main-footer .footer-btm-inner {
  width: 96%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 2%;
}
#main-footer div.main-footer-inner {
  margin-top: 20px;
  margin-bottom: 28px;
  overflow: hidden;
}
#main-footer a, #main-footer a:visited {
  color: #ffffff;
}
#main-footer a:hover {
  text-decoration: underline;
}
div.social {
  margin-bottom: 20px;
}
div.social ul {
  font-size: 90%;
  margin: 0;
  padding: 0;
}
div.social ul li {
  list-style: none;
}
div.social ul li {
  float: left;
  margin: 0 6px 8px 0;
}
div.social ul li a {
  padding: 1px 3px;
  background-color: rgba(255, 255, 255, 0.2);
}
div.social ul li a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
div.social div.twitter-all {
  margin-bottom: 16px;
  overflow: hidden;
}
div.social div.twitter-all li {
  float: left;
}
div.social div.fb-all {
  overflow: hidden;
}
div.footer-btm {
  clear: both;
  font-size: 70%;
  overflow: hidden;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}
div.footer-btm div.footer-btm-inner {
  padding: 10px 0;
}
/* @end 3C. FOOTER */
/* @end 3. MAIN */
/* @group 4. MEDIA QUERIES
--------------------------------------------- */
@media all and (min-width: 450px) {
  div.reserve form.reserve-form {
    width: 98%;
    padding: 0 1%;
  }
  div.reserve form.reserve-form span.reserve-time {
    width: 39%;
  }
  .footer-btm {
    padding: 10px;
  }
  .footer-btm .legal {
    float: left;
  }
  .footer-btm .dotcom-logo {
    float: right;
  }
}
@media all and (min-width: 550px) {
  div.rest-welcome div.rest-welcome-inner .address, div.rest-welcome div.rest-welcome-inner .hours {
    float: left;
    width: 48%;
    border-bottom: none;
    margin-bottom: 0;
  }
  div.rest-welcome div.rest-welcome-inner .hours {
    float: right;
  }
  div.rest-welcome div.rest-welcome-inner .address-hours {
    border-bottom: 1px dotted #a6a6a6;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .main-footer-inner .address,
  .main-footer-inner .hours,
  .main-footer-inner .friends,
  .main-footer-inner .signup {
    float: left;
    width: 48%;
  }
  .main-footer-inner .hours, .main-footer-inner .signup {
    float: right;
  }
  .main-footer-inner .address, .main-footer-inner .hours {
    margin-bottom: 30px;
  }
  .main-footer-inner .friends {
    clear: both;
  }
}
@media all and (min-width: 620px) {
  div.rest-main-inner .whats-happening, div.rest-main-inner .follow-us {
    float: left;
    width: 48%;
  }
  div.rest-main-inner .follow-us {
    float: right;
  }
  div.rest-main-inner .promo {
    clear: both;
  }
  div.rest-main-inner .reserve {
    float: right;
    margin-right: 0;
    width: 48%;
  }
  div.rest-main-inner .reserve form.reserve-form span.reserve-time {
    width: 37%;
  }
  div.rest-main-inner #sidebar {
    float: left;
    width: 48%;
    clear: none;
  }
}
@media all and (min-width: 780px) {
  .rest #main-container {
    background: #f3ece4 url('../../img/em-img3.jpg') no-repeat center top;
    background-attachment: fixed;
  }
  #main-nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    margin-top: 0;
    text-align: center;
  }
  #main-nav .mainnavul {
    padding-bottom: 0;
  }
  #main-nav .mainnavul li {
    display: inline-block;
  }
  #main-nav .mainnavul li a {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 90%;
    padding: 5px 10% 6px;
    background-image: url(../../img/pointer.png);
    background-position: center 40px;
    background-repeat: no-repeat;
    color: #FFF;
  }
  #main-nav .mainnavul li a:hover, #main-nav .mainnavul li a:active, #main-nav .mainnavul li a.active {
    background-position: center bottom;
    background-color: #660000;
    color: #F0EBD6;
  }
  #main-nav span.tab {
    display: none;
  }
  #sub-head {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 0;
    position: fixed;
    top: 32px;
    z-index: 2;
    width: 100%;
  }
  #sub-head #sub-nav ul {
    margin: 0 auto;
    width: 608px;
    overflow: hidden;
  }
  #sub-head #sub-nav ul li {
    width: auto;
    border: none;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 1.4em;
  }
  #sub-head #sub-nav ul li.menu-our-team {
    clear: none;
  }
  #sub-head #sub-nav ul li a {
    display: block;
    text-align: center;
    padding: 18px 18px 16px;
    color: #fff;
    width: auto;
  }
  #sub-head #sub-nav ul li a:hover {
    color: #006699;
  }
  .rest-main-img {
    display: none;
  }
  .rest #main-content {
    padding-top: 151px;
  }
  .rest #main-content .rest-welcome .rest-welcome-inner {
    background-color: rgba(255, 255, 255, 0.9);
    width: 50%;
    font-size: 85%;
    padding: 26px 3.48837% 16px;
    float: right;
    clear: right;
  }
  .main-footer-inner .address, .main-footer-inner .hours, .main-footer-inner .friends {
    float: left;
    width: 33%;
  }
  .main-footer-inner .friends {
    clear: none;
  }
  .main-footer-inner .signup {
    clear: both;
    width: 100%;
  }
}
@media all and (min-width: 860px) {
  #main-nav .mainnavul li a {
    font-size: 100%;
  }
  .rest #main-content .rest-welcome .rest-welcome-inner {
    width: 36%;
  }
  .rest #main-content .rest-main-inner {
    font-size: 85%;
  }
  .rest #main-content .rest-main-inner .block {
    margin-right: 1.98113%;
    float: left;
  }
  .rest #main-content .rest-main-inner .whats-happening {
    width: 40.56603%;
  }
  .rest #main-content .rest-main-inner .follow-us {
    width: 32.07547%;
    margin-bottom: 0;
  }
  .rest #main-content .rest-main-inner #sidebar {
    float: right;
    width: 23.5849%;
  }
  .rest #main-content .rest-main-inner .reserve {
    width: 23.5849%;
    float: right;
    margin-right: 0;
  }
  .rest #main-content .rest-main-inner .reserve form.reserve-form span.reserve-time {
    width: 32%;
  }
  .rest #main-content .rest-main-inner .reserve form.reserve-form span.reserve-date {
    width: 41%;
  }
  .rest #main-content .rest-main-inner .reserve form.reserve-form span.reserve-date input {
    background-position: right -98px;
  }
  #main-footer {
    font-size: 90%;
  }
  #main-footer .block {
    width: 23.5849%;
  }
  #main-footer .signup {
    clear: none;
  }
}
/* @end 4. MEDIA QUERIES */
