/* ===========================================
   Main styles for Emeril's Restaurants
   Author: Terrance Pitre
   =========================================== */

/* CSS Imports
---------------------------------------------- */
@import url('boilerplate.css');
@import url('fonts.css');


// LESS Variables
@main-font-color: #3E4549;
@main-link-color: #069;
@main-bg-color: #F5F6ED;
@main-transition: all .3s ease-in-out;
@body-font: "proxima-nova-1","proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
@header-font: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

.box-shadow-6 {
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.6);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,.6);
  box-shadow: 0 0 6px rgba(0,0,0,.6);
}
.trans {
  -webkit-transition: @main-transition;
  -moz-transition: @main-transition;
  -o-transition: @main-transition;
  -ms-transition: @main-transition;
  transition: @main-transition;
}

/* @group Base Styles
---------------------------------------------- */
body {
    font: normal 100% @body-font;
    color: @main-font-color;
    background: @main-bg-color url(../../img/bg-body.gif) repeat top left;
    background: 
    padding: 0;
    margin: 0;
}
a,
a:visited {
    color: @main-link-color;
    text-decoration: none;
    .trans;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: 0;
}
h1,
h2 {
    font-family: @header-font;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -1px;
}
h1 {
    font-size: 2.5em; /* 40 / 16 */
}
h2 {
    font-size: 2.0625em; /* 33 / 16 */
}
h3 {
  font-weight: bold;
}
/* @end */

/* @group Main Styles 
---------------------------------------------- */

/* @group Top Navigation */

#main-nav {
  width: 100%;
  text-align: center;
  background: transparent url(../../img/bg-global-nav.jpg) repeat-x top left;
  border-bottom: 1px solid #fff;
  .box-shadow-6;
  ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  .mainnavul {
    z-index: 10;
    position: relative;
  }
  li {
    margin: 0;
    padding: 0 16px;
    font: 16px/33px Georgia, "Times New Roman", Times, serif;
    text-transform: uppercase;
    display: inline;
    position: relative;
  }
  li a:link,
  li a:visited {
    background-image: url(../../img/pointer.png);
    background-position: center 40px;
    background-repeat: no-repeat;
    padding: 8px 0;
    color: #FFF;
  }
  li a:hover,
  li a.active,
  li a.active-hover {
    background-position: center 20px;
    color: #F0EBD6;
  }
  .dropdown {
    background-color: #fff;
    padding: 2px 8px 3px;
    position: absolute;
    top: 27px;
    left: 12px;
    opacity: 0;
    border: 1px solid #ccc;
    border-top: 0;
    z-index: 100;
    .trans 
  }
  li:hover .dropdown {
    opacity: 1;
  }
  .dropdown ul {
    margin: 4px 0 5px;
    padding: 0;
  }
  .dropdown h2 {
    border-bottom: #999 1px solid;
    font-size: 1.4em;
    text-align: left;
    margin: 2px;
  }
  .dropdown li {
    padding: 0;
    margin: 0;
    display: block;
    list-style-type: disc;
    color: @main-link-color;
  }
  .dropdown li a {
    padding: 3px 5px;
    color: #600;
    display: block;
    background-image: none;
    font: .75em @body-font;
    text-align: left;
    text-transform: none;
  }
  .dropdown li a:hover,
  .dropdown li a:active {
    color: #428649;
    background-color: @main-bg-color;
  }
  .rest-nav {
    width: 220px;
  }
  .blog-nav {
    width: 140px;
  }
  .tv-nav {
    width: 130px;
  }
  .em-nav {
    width: 186px;
  }
  .news-nav {
    width: 210px;
  }
  .shop-nav {
    left: -110px;
    width: 200px;
  }
}


/* @end */

/* @group Media Queries
--------------------------------------------- */
@media screen and (min-width: 501px) and (max-width: 940px) { 

}

/* @end */