/* ===========================================
   CSSOff Main CSS
   =========================================== */

/* CSS Imports
---------------------------------------------- */
@import url('boilerplate.css');
@import url('fonts.css');


/* @group Base Styles
---------------------------------------------- */
html { height: 100% }
body {
    font: normal 100% OpenSansSemiBold, Arial, sans-serif;
    color: #fff;
    padding: 0;
    margin: 0;
    height: 100%;
    background: #80C1D6 url('../img/texture-blue.gif') repeat fixed center top;
}
a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a:hover,
a:focus,
a:active,
.link-active,
#main-nav ul li.nav-top a:hover {
    color: #fffd75;
    text-decoration: none;
    outline: 0;
}
h1,
h2 {
    font-family: 'KomikaTitle-PaintRegular', 'Comic Sans MS', Arial, sans-serif;
    text-transform: uppercase;
}
h1 {
    font-size: 2.5em; /* 40 / 16 */
    text-shadow: 3px 3px 0 rgba(0,0,0,.25);
}
h2 {
    font-size: 2.0625em; /* 33 / 16 */
}
/* @end */

/* @group Main Styles 
---------------------------------------------- */
#main-container { height: 100% }
header#main-header {
    position: fixed;
    z-index: 50;
    padding: .3em 0 .35em;
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,.05);
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
header#main-header.active { background-color: rgba(0,119,155,0.9) }
#main-nav ul li {
    font-size: 1.125em; /* 18 / 16 */
    text-transform: uppercase;
    display: inline;
    margin: 0 3.03191%; /* 57 / 940 / 2 */
}
#main-nav ul li.nav-top a,
#main-nav ul li.nav-top a.link-active { color: #fff }
section#obstacles,
section#prizes,
section#contestant {
    padding: 3.75em 1.2em 5.6em;
    border-top: 7px solid rgba(0,0,0,.075);
    border-bottom: 7px solid rgba(0,0,0,.075);
}
section#home,
section#home .content {
    height: 100%;
    padding-bottom: 1em;
}
section .content,
nav#main-nav,
footer#main-footer {
    max-width: 940px;
    margin: 0 auto;
}
section:after,
section .content:after,
section header:after,
section#prizes ul.prize-options:after,
section#contestant form div:after,
footer .site-meta:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
section { overflow: hidden }
section h1.title {
    float: left;
    margin: 0;
    line-height: .9em;
}
section .hr {
    float: right;
    margin: 0;
    text-align: right;
    overflow: hidden;
}
section .figcaption {
    font-family: 'KomikaTitle-PaintRegular', 'Comic Sans MS', Arial, sans-serif;
    font-size: .875em;
    display: block;
    letter-spacing: .03em;
    text-align: center;
}

	/* @group HOME
	--------------------------------------------- */
	section#home { background: #80C1D6 url('../img/splash-blue.gif') no-repeat center -13em }
	section#home .content {
	    text-align: center;
	    padding: 4.6em 1.9em;
	    max-width: 100%;
	    background: url('../img/texture-blue.png') repeat fixed center top transparent;
	}
	section#home h1 { margin: 0 auto }
	section#home h1 img { margin-left: -.6em }
	section#home h2 {
	    font-size: 3.25em;
	    line-height: 1.45em;
	    color: #FD6537;
	    margin: .3em 0 0;
	    letter-spacing: 1px;
	    text-shadow: 2px 2px 0 #fff;
	}
	section#home p {
	    margin: .2em 0;
	    font-size: 1.375em;
	}
	section#home p sup {
	    font-size: 45%;
	    top: -2px;
	    vertical-align: super;
	}
	/* @end */
	
	/* @group OBSTACLES
	--------------------------------------------- */
	section#obstacles { background: #FE6638 url('../img/texture-orange.gif') repeat fixed center top }
	section#obstacles header { margin-bottom: 3.65em }
	section#obstacles h1 {
	    width: 26.17021%; /* 246 / 940 */
	}
	section#obstacles .hr {
	    width: 70.21276%; /* 660 / 940 */
	}
	section#obstacles .hr img { max-width: 127% }
	section#obstacles .obstacle-options {
	    float: left;
	    width: 48.93617%; /* 460 / 940 */
	}
	section#obstacles .obstacle-options .figure {
	    float: left;
	    text-align: center;
	    background-color: #80B238;
	    margin-right: 4.34782%; /* 20 / 460 */
	    margin-bottom: 1.3em;
	    width: 47.82608%; /* 220 / 460 */
	    min-height: 200px;
	    max-height: 220px;
	    -webkit-border-radius: 8px;
	    -moz-border-radius: 8px;
	    -o-border-radius: 8px;
	    border-radius: 8px;
	    -webkit-transition: all .3s ease-in-out;
	    -moz-transition: all .3s ease-in-out;
	    -o-transition: all .3s ease-in-out;
	    -ms-transition: all .3s ease-in-out;
	    transition: all .3s ease-in-out;
	}
	section#obstacles .obstacle-options .figure:hover,
	section#obstacles .obstacle-options .figure.activeSlide {
	    background-color: #EEF13F;
	    cursor: pointer;
	}
	section#obstacles .obstacle-options .figure:hover a,
	section#obstacles .obstacle-options .figure.activeSlide a { color: #F35F33 }
	section#obstacles .obstacle-options .figure.even { margin-right: 0 }
	section#obstacles .obstacle-options .figure p {
	    width: 77.27272%; /* 170 / 220 */
	    margin: .9em auto;
	    padding: 0;
	}
	section#obstacles .obstacle-options .figure p a { display: block }
	section#obstacles .obstacle-options .figcaption {
	    padding: 0;
	    margin: 0 -16px;
	}
	section#obstacles .obstacle-detail {
	    width: 44.68085%;
	    float: right;
	    height: 630px;
	    padding: 2.8em 0;
	}
	section#obstacles .obstacle-detail li {
	    background: transparent url(../img/splash-green-sm.png) no-repeat top center;
	    padding: 3em 0 4em;
	    height: 600px;
	    width: 100%;
	    text-align: c;
	}
	section#obstacles .obstacle-detail li .obstacle-title p {
	    width: 90%;
	    margin: 0 auto;
	}
	section#obstacles .obstacle-detail li.obstacle-tank img { max-width: 100% }
	section#obstacles .obstacle-detail li.obstacle-hamster-wheel { padding-top: 1.7em }
	section#obstacles .obstacle-detail li.obstacle-pick-it .obstacle-title { margin-left: 1em }
	section#obstacles .obstacle-detail li.obstacle-hamster-wheel .obstacle-title { margin-bottom: 4.2em }
	section#obstacles .obstacle-detail li.obstacle-down-hatch img { max-width: 108% }
	section#obstacles .obstacle-title {
	    font-family: 'KomikaTitle-PaintRegular', 'Comic Sans MS', Arial, sans-serif;
	    text-align: center;
	    margin-bottom: 6em;
	    text-shadow: 3px 3px 0 rgba(0,0,0,.3);
	    -webkit-transform: rotate(-9deg);
	    -moz-transform: rotate(-9deg);
	    -o-transform: rotate(-9deg);
	    transform: rotate(-9deg);
	}
	section#obstacles .obstacle-title h2 {
	    font-size: 2.5em;
	    line-height: 1.5em;
	    letter-spacing: .08em;
	    margin: 0;
	}
	section#obstacles .obstacle-title p {
	    font-size: 1.31em;
	    letter-spacing: .05em;
	    margin: 0;
	}
	/* @end */
	
	/* @group PRIZES
	--------------------------------------------- */
	section#prizes {
	    background: #80B238 url('../img/texture-green.gif') repeat fixed center top;
	    padding-bottom: 3.45em;
	}
	section#prizes header { margin-bottom: 5.2em }
	section#prizes h1 {
	    width: 15.95744%; /* 150 / 940 */
	}
	section#prizes .hr {
	    width: 80.85106%; /* 760 / 940 */
	}
	section#prizes .hr img { max-width: 122% }
	@-webkit-keyframes shakeit {
		0% { -webkit-transform: rotate(0deg); }
		50% { -webkit-transform: rotate(1deg); }
		100% { -webkit-transform: rotate(-1deg); }
	}
	@-moz-keyframes shakeit {
		0% { -moz-transform: rotate(0deg); }
		50% { -moz-transform: rotate(1deg); }
		100% { -moz-transform: rotate(-1deg); }
	}
	@keyframes shakeit {
		0% { transform: rotate(0deg); }
		50% { transform: rotate(1deg); }
		100% { transform: rotate(-1deg); }
	}
	section#prizes ul.prize-options .figure {
	    text-align: center;
	    margin-bottom: 2em;
	    float: left;
	    width: 48.93617%; /* 460 / 940 */
	}
	section#prizes ul.prize-options .figure:hover {
		-webkit-animation-name: shakeit;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-duration: 0.2s;
		-moz-animation-name: shakeit;
		-moz-animation-timing-function: linear;
		-moz-animation-iteration-count: infinite;
		-moz-animation-duration: 0.2s;
		animation-name: shakeit;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-duration: 0.2s;
	}
	section#prizes ul.prize-options .figure p {
	    margin: 0;
	    padding: 0;
	}
	section#prizes ul.prize-options .figure.even { float: right }
	section#prizes ul.prize-options .figure.prize-keyboard {
	    clear: left;
	    margin-top: 2.9em;
	}
	section#prizes ul.prize-options .figure.prize-tv { margin-top: -8.1em }
	section#prizes ul.prize-options .figcaption {
	    margin: 1.3em;
	    font-size: 1em;
	}
	/* @end */
	
	/* @group CONTESTANT
	--------------------------------------------- */
	section#contestant {
	    border-bottom: none;
	    margin-bottom: 2em;
	}
	section#contestant header { margin-bottom: 4.15em }
	section#contestant h1 {
	    width: 42.55319%; /* 400 / 940 */
	}
	section#contestant .hr {
	    width: 55.31914%; /* 520 / 940 */
	}
	section#contestant .hr img { max-width: 164% }
	section#contestant form.contestant-form {
	    width: 40.42553%; /* 380 / 940 */
	    float: left;
	    max-height: 530px;
	    overflow: hidden;
	}
	section#contestant form.contestant-form input {
	    font-family: 'KomikaTitle-PaintRegular', 'Comic Sans MS', Arial, sans-serif;
	    display: block;
	    color: #fff;
	    background-color: #FE6336;
	    border: none;
	    width: 100%;
	    padding: 11px 14px;
	    margin-bottom: 1em;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -o-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	    box-sizing: border-box;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    border-radius: 5px;
	    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	    -moz-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	    box-shadow: inset 0 0 0 rgba(0,0,0,0);
	    -webkit-transition: all .3s ease-out;
	    -moz-transition: all .3s ease-out;
	    -o-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
	    transition: all .3s ease-out;
	}
	section#contestant form.contestant-form input:hover,
	section#contestant form.contestant-form input:focus {
		outline: none;
		-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.35);
		-moz-box-shadow: inset 0 0 8px rgba(0,0,0,.35);
		box-shadow: inset 0 0 8px rgba(0,0,0,.35);
	}	
	section#contestant form.contestant-form .team-color {
	    width: 53.42105%; /* 203 / 380 */
	    float: left;
	}
	section#contestant form.contestant-form .gender {
	    width: 42.10526%; /* 160 / 380 */
	    float: right;
	}
	section#contestant form.contestant-form .sb-custom {
	    cursor: pointer;
	    position: relative;
	    width: 100%;
	}
	section#contestant form.contestant-form .custom-select { display: none }
	section#contestant form.contestant-form .sb-select:focus {
	    -webkit-box-shadow: 0 0 4px 2px #79aed7;
	    -moz-box-shadow: 0 0 4px 2px #79aed7;
	    box-shadow: 0 0 4px 2px #79aed7;
	}
	section#contestant form.contestant-form .sb-select {
	    position: relative;
	    text-decoration: none;
	    top: 0;
	    left: 0;
	    cursor: pointer;
	    z-index: 15;
	}
	section#contestant form.contestant-form .select-arrow {
	    background: #84B135 url('../img/arrow.png') no-repeat center 18px;
	    display: block;
	    position: absolute;
	    right: 0;
	    top: 0;
	    z-index: 15;
	    width: 50px;
	    padding: 13px 0 14px;
	    text-indent: -99em;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    border-radius: 5px;
	    -webkit-transition: all .1s ease-out;
	    -moz-transition: all .1s ease-out;
	    -o-transition: all .1s ease-out;
	    -ms-transition: all .1s ease-out;
	    transition: all .1s ease-out;
	}
	section#contestant form.contestant-form .select-arrow:hover {
	    background-position: center 20px;
	    background-color: #86b92d;
	}
	section#contestant form.contestant-form .sb-dropdown {
	    background-color: #FFF;
	    display: none;
	    font-size: .9em;
	    left: 5px;
	    list-style: none;
	    margin: 0;
	    padding: .3125em;
	    position: absolute;
	    top: 3.4em;
	    z-index: 10;
	    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
	    -moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
	    box-shadow: 0 0 4px rgba(0,0,0,.2);
	    -webkit-border-radius: 0 0 5px 5px;
	    -moz-border-radius: 0 0 5px 5px;
	    border-radius: 0 0 5px 5px;
	}
	section#contestant form.contestant-form .team-color .sb-dropdown { width: 92.27272% /* 203 / 220 */; }
	section#contestant form.contestant-form .gender .sb-dropdown { width: 87.85714% /* 123 / 140 */; }
	section#contestant form.contestant-form .sb-dropdown a {
	    color: #444;
	    display: block;
	    padding: 3px 6px;
	    margin-bottom: 2px;
	    text-decoration: none;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	}
	section#contestant form.contestant-form .sb-dropdown a:hover,
	section#contestant form.contestant-form .sb-dropdown .selected a {
	    background: #84B135;
	    color: #FFF;
	}
	section#contestant form.contestant-form button {
	    font-family: 'KomikaTitle-PaintRegular', 'Comic Sans MS', Arial, sans-serif;
	    margin: 2.3em auto;
	    display: block;
	    width: 100%;
	    border: none;
	    position: relative;
	    z-index: 0;
	    cursor: pointer;
	    background: none;
	}
	section#contestant form.contestant-form button img {
	    width: 176px;
	    min-height: 155px;
	    top: 0;
	    left: 50%;
	    margin-left: -88px;
	    position: absolute;
	    z-index: -1;
	}
	section#contestant form.contestant-form button em {
	    font: normal 1.625em 'KomikaTitle-PaintRegular', 'Comic Sans MS', Arial, sans-serif;
	    display: block;
	    padding: 2.2em 0 2em .5em;
	    letter-spacing: .08em;
	    text-shadow: 4px 4px 0 rgba(0,0,0,.2);
	    -webkit-transform: rotate(-8deg);
	    -moz-transform: rotate(-8deg);
	    -o-transform: rotate(-8deg);
	    -ms-transform: rotate(-8deg);
	    transform: rotate(-8deg);
	}
	section#contestant form.contestant-form button:hover em {
	    font-size: 2em;
	    padding-top: 1.5em;
	    -webkit-transform: rotate(6deg);
	    -moz-transform: rotate(6deg);
	    -o-transform: rotate(6deg);
	    -ms-transform: rotate(6deg);
	    transform: rotate(6deg);
	    white-space: nowrap;
	}
	section#contestant .count-down {
	    width: 48.93617%; /* 460 / 940 */
	    float: right;
	    text-align: center;
	    position: relative;
	}
	section#contestant .count-down .counter {
	    font: 8.75em/1 DigitaldreamFatRegular, "Courier New", Courier, mono;
	    color: #F4EA00;
	    display: block;
	    padding-left: 6px;
	    position: absolute;
	    top: .65em;
	    left: 0;
	    width: 100%;
	    text-shadow: 9px 9px #000;
	    -webkit-transition: color .8s ease-out;
	    -moz-transition: color .8s ease-out;
	    -o-transition: color .8s ease-out;
	    -ms-transition: color .8s ease-out;
	    transition: color .8s ease-out;
	}
	section#contestant .count-down .counter.alert { color: #f42500 }
	section#contestant .count-down h2 {
	    font-size: 2.5em;
	    line-height: 1.3;
	    letter-spacing: .05em;
	    text-shadow: 4px 4px 0 rgba(0,0,0,.2);
	}
	/* @end */
	
	/* @group FOOTER
	--------------------------------------------- */
	footer#main-footer { padding-bottom: 1em }
	footer#main-footer .site-meta {
	    border-top: 7px solid rgba(0,0,0,.075);
	    border-bottom: 7px solid rgba(0,0,0,.075);
	    padding-bottom: .75em;
	    margin-bottom: 1.35em;
	}
	footer#main-footer cite {
	    display: block;
	    margin: -2.9em 0 .2em;
	    padding: .18em 0 .36em .2em;
	    text-align: center;
	    position: relative;
	}
	footer#main-footer h3 {
	    text-align: center;
	    clear: both;
	    margin: .6em 0 0;
	    font: normal 1.25em/1.5em OpenSansSemiBold, Arial, sans-serif;
	}
	footer#main-footer p { font-size: .875em }
	footer#main-footer .left,
	footer#main-footer .right {
	    width: 31.59574%; /* 297 / 940 */
	    margin: .45em 0 1.875em;
	}
	footer#main-footer .left {
	    text-align: right;
	    float: left;
	    padding-left: 17.4468%; /* 164 / 940 */
	}
	footer#main-footer .right {
	    text-align: left;
	    float: right;
	    padding-right: 17.4468%; /* 164 / 940 */
	}
	footer#main-footer address.left,
	footer#main-footer address.right { margin-top: .3em }
	footer#main-footer p.legal { text-align: center }
	footer#main-footer p.legal img.cc-license { margin-top: 1.6em }
	/* @end */

/* @end */

/* @group Media Queries
--------------------------------------------- */
@media screen and (min-width: 501px) and (max-width: 940px) { 
    section#obstacles,
    section#prizes,
    section#contestant { padding: 3.1em 1.2em 3em }
    section#obstacles header,
    section#prizes header,
    section#contestant header { margin-bottom: 3.2em }
    section#obstacles .obstacle-options .figure { min-height: 202px }
    section#obstacles .obstacle-title h2 { font-size: 180% }
    section#obstacles .obstacle-title p { font-size: 110% }
    section#obstacles .obstacle-detail li.obstacle-sundae-slide,
    section#obstacles .obstacle-detail li.obstacle-down-hatch { padding-top: 4.1em }
    section#obstacles .obstacle-detail li.obstacle-wringer { padding-top: 3.8em }
}

@media screen and (min-width: 501px) and (max-width: 800px) { 
    section#home .content { padding: 6.2em 1.9em 3em }
    section#home h2 {
        font-size: 310%;
        margin: 1.1em 0 .3em;
    }
    section#home p { font-size: 120% }
    section#obstacles,
    section#prizes,
    section#contestant {
        padding: 2em 1.2em 1.6em;
        height: 92%;
    }
    section#obstacles header,
    section#prizes header,
    section#contestant header { margin-bottom: 2.8em }
    section#obstacles .obstacle-options .figcaption { font-size: 72% }
    section#obstacles .obstacle-detail li.obstacle-sundae-slide,
    section#obstacles .obstacle-detail li.obstacle-hamster-wheel,
    section#obstacles .obstacle-detail li.obstacle-down-hatch { padding-top: 3.2em }
    section#obstacles .obstacle-detail li.obstacle-down-hatch .obstacle-title { margin-left: 1em }
    section#obstacles .obstacle-detail li.obstacle-hamster-wheel .obstacle-title {
        margin-left: 1.6em;
        margin-bottom: 4em;
    }
    section#prizes img { max-width: 80% }
    section#prizes ul.prize-options .figure.prize-keyboard { margin-top: 1.9em }
    section#prizes ul.prize-options .figure.prize-tv { margin-top: -5em }
    section#contestant form.contestant-form .team-color,
    section#contestant form.contestant-form .gender {
        width: 100%;
        float: none;
    }
    section#contestant form.contestant-form .team-color .sb-custom { z-index: 20 }
    section#contestant form.contestant-form .gender .sb-custom { z-index: 15 }
    section#contestant form.contestant-form .team-color .sb-dropdown,
    section#contestant form.contestant-form .gender .sb-dropdown { width: 92.87272% }
    section#contestant form.contestant-form { min-height: 620px }
    section#contestant form.contestant-form button:hover em {
        font-size: 1.7em;
        padding-top: 1.7em;
    }
    section#contestant .count-down .clock-frame { max-width: 92% }
    section#contestant .count-down .counter { font-size: 7.4em }
    footer#main-footer { padding: 0 1em 1em }
    footer#main-footer p,
    footer#main-footer p.legal { font-size: .775em }
    footer#main-footer address { font-size: .85em }
}

@media screen and (min-width: 501px) and (min-height: 600px) and (max-height: 820px) and (max-width: 800px) {
	#main-container { height: auto }
}

@media screen and (min-width: 501px) and (max-width: 700px) { 
    section#obstacles .obstacle-options .figure { min-height: 188px }
    section#contestant .count-down .clock-frame { max-width: 90% }
    section#contestant form.contestant-form button img {
        width: 144px;
        min-height: 126px;
        margin-left: -72px;
    }
    section#contestant form.contestant-form button em {
        font-size: 1.3em;
        padding-top: 2.2em;
    }
    section#contestant form.contestant-form button:hover em {
        font-size: 1.4em;
        padding-top: 2em;
    }
    section#contestant .count-down .counter { font-size: 6.6em }
}

@media screen and (min-width: 501px) and (max-width: 600px) { 
    #main-nav { padding: 2px 0 }
    #main-nav ul li { font-size: .95em }
    section#obstacles .obstacle-options .figure { min-height: 166px }
    section#contestant form.contestant-form button em {
        font-size: 1.1em;
        padding-top: 2.8em;
    }
    section#contestant form.contestant-form button:hover em {
        font-size: 1.1em;
        padding-top: 2.5em;
    }
    section#contestant .count-down .counter { font-size: 5.3em }
}

@media screen and (max-width: 500px) { 
    #main-nav { padding: 2px 0 }
    #main-nav ul li { font-size: .7em }
    section#home,
    section#home .content { padding-bottom: 2.3em }
    section#home .content { padding-top: 3.9em }
    section#home h1 img {
        float: left;
        margin-left: 2.5%;
        max-width: 45%;
    }
    section#home .content .tagline {
        font-size: 50%;
        width: 50%;
        margin-right: 2.5%;
        float: right;
    }
    section#home h2 { text-shadow: 1px 1px 0 #fff }
    section#home p { font-size: 110% }
    section#obstacles h1,
    section#prizes h1,
    section#contestant h1 {
        float: none;
        width: 100%;
        text-align: center;
        padding-bottom: .5em;
        border-bottom: 8px dotted #EEF13F;
    }
    section .hr { display: none }
    section#obstacles,
    section#prizes,
    section#contestant { padding: 2em 1.2em 1.9em }
    section#obstacles header,
    section#prizes header,
    section#contestant header { margin-bottom: 2.8em }
    section#obstacles .obstacle-options {
        float: none;
        width: 100%;
    }
    section#obstacles .obstacle-options .figure,
    section#obstacles .obstacle-options .figure.even {
        width: 14.69%;
        margin: 0 1%;
        min-height: 66px;
    }
    section#obstacles .obstacle-options .figure p { margin: 10px auto 6px }
    section#obstacles .obstacle-options .figcaption { display: none }
    section#obstacles .obstacle-detail {
        top: 6em;
        width: 70%;
        float: none;
        height: 430px;
        margin: 0 auto;
    }
    section#obstacles .obstacle-title { text-shadow: 2px 2px 0 rgba(0,0,0,.25) }
    section#obstacles .obstacle-detail li .obstacle-title {
        margin-bottom: 2.6em;
        font-size: 60%;
    }
    section#obstacles .obstacle-detail li {
        padding-top: 2.1em;
        -webkit-background-size: 137px 120px;
        -moz-background-size: 137px 120px;
        -o-background-size: 137px 120px;
        -ms-background-size: 137px 120px;
        background-size: 137px 120px;
    }
    section#obstacles .obstacle-detail li.obstacle-hamster-wheel .obstacle-title { margin-bottom: -1em }
    section#obstacles .obstacle-detail li.obstacle-down-hatch img {
        width: 80%;
        margin-left: 1.8em;
    }
    section#obstacles .obstacle-detail li.obstacle-hamster-wheel,
    section#obstacles .obstacle-detail li.obstacle-pick-it,
    section#obstacles .obstacle-detail li.obstacle-wringer { padding-top: 1.4em }
    section#obstacles .obstacle-detail li.obstacle-wringer img { margin-left: 1.6em }
    section#prizes ul.prize-options .figure img { max-width: 70% }
    section#prizes ul.prize-options .figure.prize-keyboard { margin-top: 0 }
    section#prizes ul.prize-options .figure.prize-tv { margin-top: -3.9em }
    section#prizes ul.prize-options .figcaption {
        margin-top: .8em;
        font-size: .7em;
    }
    section#contestant form.contestant-form,
    section#contestant .count-down {
        float: none;
        width: 100%;
        margin-bottom: 2.2em;
    }
    section#contestant form.contestant-form { min-height: 450px }
    section#contestant form.contestant-form input {
        padding: 10px 10px;
        font-size: .8em;
        margin-bottom: .8em;
    }
    section#contestant form.contestant-form .select-arrow {
        width: 40px;
        background-position: center 16px;
        padding: 6px 0 14px;
    }
    section#contestant form.contestant-form .select-arrow:hover { background-position: center 18px }
    section#contestant form.contestant-form .sb-dropdown { top: 2.9em }
    section#contestant form.contestant-form button img {
        width: 137px;
        min-height: 120px;
        margin-left: -68.5px;
    }
    section#contestant form.contestant-form button em {
        font-size: 110%;
        padding-top: 2.5em;
    }
    section#contestant form.contestant-form button:hover em {
        font-size: 1.3em;
        padding-top: 2em;
    }
    section#contestant .count-down .counter { font-size: 8.2em }
    footer#main-footer { padding: 0 1em 1em }
    footer#main-footer .left,
    footer#main-footer .right,
    footer#main-footer address.left,
    footer#main-footer address.right {
        float: none;
        width: 100%;
        padding: 0;
        text-align: center;
        margin-bottom: .8em;
    }
    footer#main-footer .right { margin-bottom: 1.9em }
    footer#main-footer p,
    footer#main-footer p.legal { font-size: .75em }
    footer#main-footer address { font-size: .8em }
}

@media screen and (max-width: 390px) { 
    header#main-header {
        padding: 6px 0;
        margin-top: -4px;
    }
    #main-nav ul li {
        font-size: .65em;
        margin: 0 1.5%;
    }
    section#home .content { padding-top: 3.1em }
    section#home h1 img {
        float: none;
        max-width: 90%;
        margin: 0;
    }
    section#home .content .tagline {
        font-size: 60%;
        width: 80%;
        margin: 0 auto;
        float: none;
    }
    section#home p {
        padding-top: .5em;
        font-size: 140%;
    }
    section#obstacles { padding-bottom: 0 }
    section#obstacles header { margin-bottom: 2.25em }
    section#obstacles .obstacle-options .figure,
    section#obstacles .obstacle-options .figure.even {
        width: 15.22988%;
        /* 53 / 348 */
        margin-right: 1.15%;
        /* 6 / 348 */
        min-height: 50px;
    }
    section#obstacles .obstacle-options .figure.last { margin-right: 0 }
    section#obstacles .obstacle-detail {
        top: 5em;
        height: 320px;
    }
    section#obstacles .obstacle-detail li .obstacle-title {
        margin-bottom: 2.9em;
        font-size: 46%;
    }
    section#obstacles .obstacle-detail li.obstacle-hamster-wheel,
    section#obstacles .obstacle-detail li.obstacle-pick-it,
    section#obstacles .obstacle-detail li.obstacle-wringer { padding-top: 2.1em }
    section#prizes ul.prize-options .figure {
        float: none;
        width: 100%;
        margin: 0 auto 2em;
    }
    section#prizes ul.prize-options .figure.prize-tv { margin-top: 1em }
    section#contestant .count-down img { max-width: 87% }
    section#contestant .count-down .counter { font-size: 5.4em }
}
/* @end */

/* @group Print Styles
--------------------------------------------- */
@media print { 
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }
    a,
    a:visited {
        color: #444 !important;
        text-decoration: underline;
    }
    a[href]:after { content: " (" attr(href) ")" }
    abbr[title]:after { content: " (" attr(title) ")" }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after { content: "" }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead { display: table-header-group }
    tr,
    img { page-break-inside: avoid }
    img { max-width: 100% !important }
}
/* @end */